<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="admin-footer">

    <footer id="footer" class="p-3 footer disclaimer font-weight-light">
        <p>For the avoidance of doubt, this web site is not endorsed by, directly affiliated with, maintained, authorized, or sponsored by the City of San Antonio. All product and company names are the registered trademarks of their original owners. The use of any trade name or trademark is for identification and reference purposes only and does not imply any association with the trademark holder of their product brand.</p>
    </footer>

    <!-- JavaScript Libraries -->
    <!--<script th:src="@{/lib/jquery.min.js}"></script>-->
    <!--<script th:src="@{/lib/jquery-migrate.min.js}"></script>-->
    <!--<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
    <!--<script th:src="@{/owl.carousel.js}"></script>-->
    <!--<script th:src="@{/magnific-popup.min.js}"></script>-->
    <!--<script th:src="@{/isotope.pkgd.min.js}"></script>-->

    <!--&lt;!&ndash; Stripe.js v3 for Elements &ndash;&gt;-->
    <!--<script th:src="@{https://js.stripe.com/v3/}"></script>-->

    <!--&lt;!&ndash; Library to render QR codes &ndash;&gt;-->
    <!--<script th:src="@{https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js}"></script>-->






    <script th:src="@{/js/bootstrap/bootstrap-transition.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-alert.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-modal.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-dropdown.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-scrollspy.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-tab.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-tooltip.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-popover.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-button.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-collapse.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-carousel.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-typeahead.js}" type="text/javascript" ></script>
    <script th:src="@{/js/bootstrap/bootstrap-affix.js}" type="text/javascript" ></script>
    <script th:src="@{js/bootstrap/bootstrap-datepicker.js}" type="text/javascript" ></script>
    <script th:src="@{/js/jquery-tablesorter.js}" type="text/javascript" ></script>
    <script th:src="@{/js/jquery-chosen.js}" type="text/javascript" ></script>
    <script th:src="@{/js/virtual-tour.js}" type="text/javascript" ></script>
    <script type="text/javascript">
        $(function() {
            $('#sample-table').tablesorter();
            $('#datepicker').datepicker();
            $(".chosen").chosen();
        });
    </script>



    <!-- Template Main Javascript File -->
    <!--<script th:src="@{/final.js}"></script>-->

    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--</div>-->
    <script th:src="@{/jquery-2.2.4.min.js}" type="text/javascript" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>

</html>
