<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

    <!-- JavaScript Libraries -->
    <script th:src="@{/lib/jquery.min.js}"></script>
    <script th:src="@{/lib/jquery-migrate.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/owl.carousel.js}"></script>
    <script th:src="@{/magnific-popup.min.js}"></script>
    <script th:src="@{/isotope.pkgd.min.js}"></script>

    <!-- Stripe.js v3 for Elements -->
    <script th:src="@{https://js.stripe.com/v3/}"></script>
    <!-- Library to render QR codes -->
    <script th:src="@{https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js}"></script>


    <!-- Template Main Javascript File -->
    <script th:src="@{/final.js}"></script>
</div>

</html>

