<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
    <th:block th:fragment="navbar">
        <div class=" navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="float-right">
                    <li sec:authorize="isAuthenticated()" class="d-inline">
                        <form th:action="@{/login}" th:method="get" class="d-inline">
                            <button class="p-2 btn-primary btn--large is-block disable-resubmit" style="margin-top: 8px">Login</button>
                        </form>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="d-inline px-3">
                        <form th:action="@{/logout}" th:method="post" class="d-inline">
                            <button class="p-2 btn-primary btn--large is-block disable-resubmit" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>
                </ul>
                <div class="container"></div>
            </div>
        </div>
        <div id="body-container" class="bdy-img">
            <section id="body-content">
                <section class="nav nav-page">
                    <div class="container">
                        <div class="row">
                            <div class="span7">
                                <header class="page-header">
                                    <h3>Records Application<br/>
                                        <small>Vital Records City of San Antonio</small>
                                    </h3>
                                </header>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </th:block>
        <!--<div class="navbar navbar-fixed-top">-->
            <!--<div class="navbar-inner">-->
                <!--<div class="container">-->
                    <!--<button class="btn btn-navbar" data-toggle="collapse" data-target="#app-nav-top-bar">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                    <!--<a href="dashboard.html" class="brand">SATX Vital Records</a>-->
                    <!--<div id="app-nav-top-bar" class="nav-collapse">-->

                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">TRY ME!-->
                    <!--<b class="caret hidden-phone"></b>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a href="dashboard.html">Dashboard</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="form.html">Form</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="custom-view.html">Custom View</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="login.html">Login Page</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">CHANGE NAV BAR-->
                    <!--<b class="caret hidden-phone"></b>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a href="demo-horizontal-nav.html">Horizontal</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="demo-horizontal-fixed-nav.html">Horizontal Fixed</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="demo-vertical-nav.html">Vertical</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="demo-vertical-fixed-nav.html">Vertical Fixed</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->

                    <!--</ul>-->
                    <!--<ul class="nav pull-right">-->
                    <!--<li>-->
                    <!--<a href="login.html">Logout</a>-->
                    <!--</li>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
</body>
</html>
