<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="test-map-header(title)">
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />

    <title th:text="${'SATX | Vital Records ' + title}">SA Vital Records</title>

    <!-- Google Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Montserrat"-->
    <!--rel="stylesheet"/>-->

    <!--&lt;!&ndash; Bootstrap CSS File &ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>&ndash;&gt;-->
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>-->



    <!--&lt;!&ndash; Libraries CSS Files &ndash;&gt;-->
    <!--&lt;!&ndash;<link th:href="@{/lib/ionicons/css/ionicons.css}" rel="stylesheet"/>&ndash;&gt;-->
    <!--<link th:href="@{/lib/magnific-popup.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/lib/hover.min.css}" rel="stylesheet"/>-->


    <!--&lt;!&ndash; Blog Stylesheet File &ndash;&gt;-->
    <!--<link th:href="@{/css/blog.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>-->

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>-->


    <!--&lt;!&ndash; Responsive assets &ndash;&gt;-->
    <!--<link th:href="@{/css/responsive.css}" rel="stylesheet"/>-->

    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="pics/favicon.png"/>-->
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" rel="stylesheet" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>

    <!--<script type="text/javascript" th:src="@{http://www.google.com/jsapi}"></script>-->


    <!--<script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>-->
    <link th:href="@{/css/customize-template.css}" type="text/css" media="screen, projection" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <!--<link th:href="@{/css/style-old.css}" rel="stylesheet"/>-->

    <!-- Responsive assets -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <link th:href="@{assets/css/cssprogress.css}" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
    </style>


    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvVIZozQaijJ_e-6bBlH1g5PQlbvHv6-E&amp;libraries=places">
    </script>
    <script type="text/javascript">

        //<![CDATA[

        var map;

        function initialize() {
            // Create a map centered in Pyrmont, Sydney (Australia).
            map = new google.maps.Map(document.getElementById('map-canvas'), {
                center: {lat: 29.423132, lng: -98.483688},
                zoom: 15
            });

            // Search for Google's office in Australia.
            var request = {
                location: map.getCenter(),
                radius: '1500',
                query: 'notary public'
            };

            var service = new google.maps.places.PlacesService(map);
            service.textSearch(request, callback);
        }

        // Checks that the PlacesServiceStatus is OK, and adds a marker
        // using the place ID and location from the PlacesService.
        function callback(results, status) {
            console.log(results);
            console.log("hi");
            if (status == google.maps.places.PlacesServiceStatus.OK) {

                // Multiple Markers
                var markersArray = [];
                console.log(markersArray);


                for(let i = 0; i < results.length; i++){
                    var markers = new google.maps.Marker({
                        map: map,
                        place: {
                            placeId: results[i].place_id,
                            location: results[i].geometry.location
                        }
                    })
                    markersArray.push(markers);
                    console.log("pushed a marker");
                }
                console.log(markersArray);
                for( i = 0; i < markersArray.length; i++ ) {
                    var position = new google.maps.LatLng(markersArray[i].place);
                    bounds.extend(position);

                    fitBoundsToVisibleMarkers();

                }

            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        //]]>
    </script>
</head>
</html>