<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="test-header(title)">
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />

    <title th:text="${'SATX | Vital Records ' + title}">SA Vital Records</title>

    <!-- Google Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Montserrat"-->
    <!--rel="stylesheet"/>-->

    <!--&lt;!&ndash; Bootstrap CSS File &ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>&ndash;&gt;-->
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>-->



    <!--&lt;!&ndash; Libraries CSS Files &ndash;&gt;-->
    <!--&lt;!&ndash;<link th:href="@{/lib/ionicons/css/ionicons.css}" rel="stylesheet"/>&ndash;&gt;-->
    <!--<link th:href="@{/lib/magnific-popup.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/lib/hover.min.css}" rel="stylesheet"/>-->


    <!--&lt;!&ndash; Blog Stylesheet File &ndash;&gt;-->
    <!--<link th:href="@{/css/blog.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>-->

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>-->


    <!--&lt;!&ndash; Responsive assets &ndash;&gt;-->
    <!--<link th:href="@{/css/responsive.css}" rel="stylesheet"/>-->

    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="pics/favicon.png"/>-->
    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" rel="stylesheet" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>

    <!--<script type="text/javascript" th:src="@{http://www.google.com/jsapi}"></script>-->


    <!--<script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>-->
    <link th:href="@{/css/customize-template.css}" type="text/css" media="screen, projection" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <!--<link th:href="@{/css/style.css}" rel="stylesheet"/>-->

    <!-- Responsive assets -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <link th:href="@{assets/css/cssprogress.css}" rel="stylesheet"/>
</head>
</html>