<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="upload-footer">

    <footer id="footer" class="p-3 footer disclaimer font-weight-light">
        <p>For the avoidance of doubt, this web site is not endorsed by, directly affiliated with, maintained,
            authorized, or sponsored by the City of San Antonio. All product and company names are the registered
            trademarks of their original owners. The use of any trade name or trademark is for identification and
            reference purposes only and does not imply any association with the trademark holder of their product
            brand.</p>
    </footer>
    <script th:src="@{/lib/jquery.min.js}"></script>
    <script th:src="@{/lib/jquery-migrate.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/loading.js}"></script>
    <script th:src="@{//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js}"></script>
</div>

</html>