<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/error-header5 :: error-header5('500 Error Message')"></head>

<body>

    <div class=" navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="float-right m-0">
                <li class="d-inline px-3 mb-1 float-right">
                    <a th:href="@{/about-us}"><i class="material-icons  " style="font-size: 36px; margin-top: 8px;">
                        help_outline
                    </i></a>
                </li>
            </ul>
            <div class="container"></div>
        </div>
    </div>
    <div id="body-content">
        <section class="nav nav-page">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <header class="page-header">
                            <a th:href="@{/}">
                                <h3>Records Application<br/>
                                    <small>Vital Records City of San Antonio</small>
                                </h3>
                            </a>
                        </header>
                    </div>
                </div>
            </div>
        </section>

        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>Oops!</h1>
                    <h2>500 - Nope. Not Today!</h2>
                </div>
                <a class="p-2 btn-primary btn--large is-block disable-resubmit" th:href="@{/}">Return to Home
                    Page</a>
            </div>
        </div>


        <footer th:replace="fragments/admin-footer :: admin-footer"></footer>
    </div>
</body>
</html>














