<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-header :: admin-header('Admin Portal')"/>
<body>
    <div class=" navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a href="dashboard.html" class="brand">SATX Vital Records</a>

            </div>
        </div>
    </div>

    <section id="body-container">
        <section id="body-content">


            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>Admin Dashboard<br/>
                                    <small>Vital Records City of San Antonio</small>
                                </h3>
                            </header>
                        </div>
                        <div class="page-nav-options">
                            <div class="span9">
                                <!--<ul class="nav nav-pills">-->
                                <!--<li>-->
                                <!--<a href="#"></a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="/app-index">All Applications</a>
                                    </li>
                                    <!--<li><a href="#">Maps</a></li>-->
                                    <li class="active"><a href="#">Application <span
                                            th:text="${app.getId()}"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page container">
                <div class="row justify-content-center">
                    <div class="span18 text-center">
                        <div class="blockoff-left">
                            <legend class="lead">
                                Welcome
                            </legend>
                            <p>
                                Admin blurb.... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                    <div class="">
                        <p>Applicant <span th:text="${app.first_name}"></span> <span th:text="${app.last_name}"></span> is below.</p>
                    </div>
                </div>


                <div class="row justify-content-between m-auto">




                    <!--<div class="row">-->
                    <div class="col-9 d-inline pt-5 pb-5 ml-auto mr-auto">
                        <div class="box">
                            <div class="box-header pb-4">
                                <!--<i class="icon-book"></i>-->
                                <h5 class="pb-4">Supporting Documents</h5>
                            </div>
                            <div class="box-content">

                                <form class="form-inline">
                                    <p>Select From Uploaded Documents</p>
                                    <div id="datepicker" class="mr-auto input-prepend date">
                                        <!--<span class="add-on"><i class="icon-th"></i></span>-->
                                        <!--<input class="span2" type="text" value="File"/>-->
                                    </div>
                                    <select class="chosen span4" data-placeholder="Choose a Country...">
                                        <option value=""></option>

                                    </select>
                                </form>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">
                                    <!--<i class="icon-ok"></i>-->
                                    Open
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            <div class="row justify-content-between m-auto">
                <!--<div class="span3">
                    <div class="box">
                        <div class="box-content">
                        </div>
                    </div>
                </div>-->

                <div class="col-5 pt-5 pb-5 ml-auto mr-auto pl-2 pr-2">
                    <!--<div class="row">-->
                    <!--<div class="span8">-->


                    <script type="text/javascript">
                        google.load('visualization', '1', {'packages': ['corechart']});
                        google.setOnLoadCallback(drawVisualization);

                        function drawVisualization() {
                            visualization_data = new google.visualization.DataTable();

                            visualization_data.addColumn('string', 'Task');

                            visualization_data.addColumn('number', 'Hours per Day');


                            visualization_data.addRow(['Completed', 11]);

                            visualization_data.addRow(['Pending', 2]);

                            visualization_data.addRow(['Mailed', 2]);

                            visualization_data.addRow(['Approved', 2]);

                            visualization_data.addRow(['In Progress', 7]);


                            visualization = new google.visualization.PieChart(document.getElementById('piechart'));


                            visualization.draw(visualization_data, {
                                title: 'My Daily Activities',
                                height: 220
                            });

                        }
                    </script>

                    <div class="box">
                        <div class="box-header pb-4">
                            <!--<i class="icon-bar-chart"></i>-->
                            <h5 class="pb-4">SATXVR Chart</h5>
                        </div>
                        <div class="box-content">
                            <div id="piechart"></div>
                        </div>
                    </div>
                </div>


                <div class="col-5 pt-5 pb-5  ml-auto mr-auto pl-2 pr-2">
                    <div class="box pattern pattern-sandstone">
                        <div class="box-header pb-4">
                            <!--<i class="icon-table"></i>-->
                            <h5 class="pb-4">
                                Update Status
                            </h5>
                        </div>
                        <div class="box-content box-table">
                            <table id="sample-table" class="table table-hover table-bordered tablesorter">
                                <thead>
                                <tr>
                                    <!--<th>Current Status</th>-->
                                    <th>Description</th>
                                    <th class="td-actions"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!--<td></td>-->
                                    <td>In Progress</td>
                                    <td class="td-actions">
                                        <a href="javascript:;" class="btn btn-small btn-primary">
                                            <!--<i class="btn-icon-only icon-ok"></i>-->
                                        </a>

                                        <!--<a href="javascript:;" class="btn btn-small btn-danger">-->
                                        <!--<i class="btn-icon-only icon-remove"></i>-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                <tr>
                                    <!--<td></td>-->
                                    <td>Pending</td>
                                    <td class="td-actions">
                                        <a href="javascript:;" class="btn btn-small btn-danger">
                                            <!--<i class="btn-icon-only icon-ok"></i>-->
                                        </a>

                                        <!--<a href="javascript:;" class="btn btn-small btn-danger">-->
                                        <!--<i class="btn-icon-only icon-remove"></i>-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                <tr>
                                    <!--<td>Checkmark here</td>-->
                                    <td>Approved</td>
                                    <td class="td-actions">
                                        <a href="javascript:;" class="btn btn-small btn-success">
                                            <!--<i class="btn-icon-only icon-ok"></i>-->
                                        </a>

                                        <!--<a href="javascript:;" class="btn btn-small btn-danger">-->
                                        <!--<i class="btn-icon-only icon-remove"></i>-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                <tr>
                                    <!--<td></td>-->
                                    <td>Mailed</td>
                                    <td class="td-actions">
                                        <a href="javascript:;" class="btn btn-small btn-warning">
                                            <!--<i class="btn-icon-only icon-ok"></i>-->
                                        </a>

                                        <!--<a href="javascript:;" class="btn btn-small btn-danger">-->
                                        <!--<i class="btn-icon-only icon-remove"></i>-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                <tr>
                                    <!--<td></td>-->
                                    <td>Completed</td>
                                    <td class="td-actions">
                                        <a href="javascript:;" class="btn btn-small btn-info">

                                        </a>


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div id="spinner" class="spinner" style="display:none;">
            Loading&hellip;
        </div>

        <footer th:replace="fragments/admin-footer :: admin-footer"></footer>

    </section>
</body>

</html>
