<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Welcome Home!')"></head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 paddsection ml-auto mr-auto">
                <h4>
                    <small>Administrator Portal</small>
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Record Type</th>
                            <th>Request Date</th>
                            <th>Name</th>
                            <th>Form-Type</th>
                            <th>DOB</th>
                            <th>Requestor</th>
                            <th>Relationship</th>
                            <th class="text-right">Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="app : ${apps}">
                            <td th:text="${app.id}"></td>
                            <td th:text="${app.record_type}"></td>
                            <td>Date of Request</td>
                            <td th:text="${app.last_name}"></td>
                            <td th:text="${app.form_type}"></td>
                            <td>Date of Birth</td>
                            <td>Requestor</td>
                            <td th:text="${app.record_relationship}"></td>
                            <td>Current Status</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip"
                                        class="btn btn-info btn-link btn-just-icon btn-sm"
                                        data-original-title="" title="">
                                    <i class="material-icons">person</i>
                                </button>
                                <button type="button" rel="tooltip"
                                        class="btn btn-success btn-link btn-just-icon btn-sm"
                                        data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip"
                                        class="btn btn-danger btn-link btn-just-icon btn-sm"
                                        data-original-title="" title="">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>