<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="p-5">
<head th:replace="fragments/header :: header('Application')"></head>
<body>
    <div class="">
        <div class="">
            <field class="">
                <section class="col-xs-12">
                    <div class="cssProgress">
                        <div class="progress1">
                            <div class="cssProgress-bar" data-percent="55" style="width: 55%;">
                                <span class="cssProgress-label">55%</span>
                            </div>
                        </div>
                    </div>
                    <form class="simple_form new_certificate" id="new_certificate3" novalidate="novalidate"
                          action="/application-3" accept-charset="UTF-8" method="post">
                        <input name="utf8" type="hidden"
                                                                                              value="✓"/><input
                            type="hidden" name="authenticity_token"
                            value="GBkZnnvogYBnoELufrriChXdsyeZ975veN9Q1hrDy5ov+pkPlLS8VIQiZjTnU/pzR6WYK8uVu/UzabA9pT+vYg=="/>
                        <fieldset>
                            <section class="section align-center"><h1 class="h1"> Birth Certificate Order Form</h1>
                            </section>

              <section class="section pb-2">
                <div class="row">
                  <div class="section__container">
                    <h2 class="h2">5. Your relationship with person on record</h2>
                    <div
                        data-extra-fields-conditional="{&quot;#record_person_relationship_specify&quot;:&quot;Other (specify)&quot;,&quot;#record_person_relationship_specify_heir&quot;:&quot;Heir of the deceased person named on the record (specify)&quot;,&quot;#record_legal_representative_specify&quot;:&quot;I am the Legal Representative (specify)&quot;}"
                        class="form-group select required certificate_record_person_relationship">
                      <div class="tooltip-wrapper-mobile"><label class="select required"
                                                                 for="certificate_record_person_relationship">What
                        is your relationship with the person listed on record?</label><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="If you are requesting the  birth certificate for yourself, please select “Myself”. In all other cases, please specify your relationship to the person on record. For example if you are a mother requesting the certificate for your child, select &quot;I am the Mother&quot;. It is important to note that if you are not a direct family member, you may have to provide additional proof of your relationship with the person on record."></a>
                      </div>
                      <div class="tooltip-wrapper"><select data-validate=""
                                                           class="select required"
                                                           name="certificate[record_person_relationship]"
                                                           id="certificate_record_person_relationship">
                        <option value="">Please select</option>
                        <option value="Myself">Myself</option>
                        <option value="I am the Son">I am the Son</option>
                        <option value="I am the Daughter">I am the Daughter</option>
                        <option value="I am the Father">I am the Father</option>
                        <option value="I am the Mother">I am the Mother</option>
                        <option value="I am the Spouse">I am the Spouse</option>
                        <option value="I am the Brother">I am the Brother</option>
                        <option value="I am the Sister">I am the Sister</option>
                        <option value="I am the Grandchild">I am the Grandchild</option>
                        <option value="I am the Maternal Grandparent">I am the Maternal
                          Grandparent
                        </option>
                        <option value="I am the Paternal Grandparent">I am the Paternal
                          Grandparent
                        </option>
                        <option value="I am the Legal guardian">I am the Legal guardian</option>
                        <option value="I am the Legal representative">I am the Legal
                          representative
                        </option>
                        <option value="Other (specify)">Other (specify)</option>
                      </select><a class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                  data-original-title="If you are requesting the  birth certificate for yourself, please select “Myself”. In all other cases, please specify your relationship to the person on record. For example if you are a mother requesting the certificate for your child, select &quot;I am the Mother&quot;. It is important to note that if you are not a direct family member, you may have to provide additional proof of your relationship with the person on record."></a>
                      </div>
                    </div>

                    <div id="record_person_relationship_specify" style="display: none;">
                      <div class="form-group string optional certificate_record_person_relationship_specify">
                        <div class="tooltip-wrapper-mobile"><label
                            class="string optional required"
                            for="certificate_record_person_relationship_specify">Specify</label>
                        </div>
                        <div class="tooltip-wrapper"><input data-validate="" maxlength="45"
                                                            class="string optional" size="45"
                                                            type="text"
                                                            name="certificate[record_person_relationship_specify]"
                                                            id="certificate_record_person_relationship_specify"/>
                        </div>
                      </div>
                    </div>


                    <div
                        class="form-group select required certificate_record_person_relationship">
                      <div class="tooltip-wrapper-mobile"><label class="select required"
                                                                 for="certificate_record_person_relationship">Please
                        select the certificate type you require</label><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Standard size format is the most commonly issued because it satisfies most purposes,; Long Form is used most often to obtain a passport, for purposes of dual citizenship, Indian Registry and immigration"></a>
                      </div>
                      <div class="tooltip-wrapper"><select data-validate=""
                                                           class="select required"
                                                           name="certificate_type_long_standard"
                                                           id="certificate_type_long_standard">
                        <option value="">Please select</option>
                        <option value="Standard size">Standard size</option>
                        <option value="Long form">Long form</option>

                      </select><a class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                  data-original-title="Standard size format is the most commonly issued because it satisfies most purposes,; Long Form is used most often to obtain a passport, for purposes of dual citizenship, Indian Registry and immigration"></a>
                      </div>
                    </div>

                    <div id="certificate_type" style="display: none;">
                      <div class="form-group string optional certificate_record_person_relationship_specify">
                        <div class="tooltip-wrapper-mobile"><label
                            class="string optional required"
                            for="certificate_record_person_relationship_specify">Specify</label>
                        </div>
                        <div class="tooltip-wrapper"><input data-validate="" maxlength="45"
                                                            class="string optional" size="45"
                                                            type="text"
                                                            name="certificate_type"
                                                            id="certificate_type_"/>
                        </div>
                      </div>
                    </div>


                    <div
                        class="form-group select required certificate_record_person_relationship">
                      <div class="tooltip-wrapper-mobile"><label class="select required"
                                                                 for="certificate_record_person_relationship">Why are
                        you applying for a certificate?</label><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="This information is required by the Health Department. If the reason for applying is not listed here, please select “other."></a>
                      </div>
                      <div class="tooltip-wrapper"><select data-validate=""
                                                           class="select required"
                                                           name="certificate_purpose"
                                                           id="certificate_purpose">
                        <option value="">Please select</option>
                        <option value="Passport">Passport</option>
                        <option value="Social Security">Social Security</option>
                        <option value="Retirement">Retirement</option>
                        <option value="Employment">Employment</option>
                        <option value="Working Papers">Working Papers</option>
                        <option value="School Entrance">School Entrance</option>
                        <option value="Driver's License">Driver's License</option>
                        <option value="Marriage License">Marriage License</option>
                        <option value="Welfare Assistance">Welfare Assistance</option>
                        <option value="Veteran's Benefits">Veteran's Benefits
                        </option>
                        <option value="Court Proceeding">Court Proceeding

                        </option>
                        <option value="Entrance into Armed Forces">Entrance into Armed Forces</option>
                        <option value="International Use">International Use
                        </option>
                        <option value="Insurance">Insurance
                        </option>
                        <option value="Genealogy">Genealogy
                        </option>
                        <option value="Other (specify)">Other</option>
                      </select><a class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                  data-original-title="If you are requesting the  birth certificate for yourself, please select “Myself”. In all other cases, please specify your relationship to the person on record. For example if you are a mother requesting the certificate for your child, select &quot;I am the Mother&quot;. It is important to note that if you are not a direct family member, you may have to provide additional proof of your relationship with the person on record."></a>
                      </div>
                    </div>

                    <div id="certificate_purpose_reason" style="display: none;">
                      <div class="form-group string optional certificate_purpose_specify">
                        <div class="tooltip-wrapper-mobile"><label
                            class="string optional required"
                            for="certificate_purpose">Specify</label>
                        </div>
                        <div class="tooltip-wrapper"><input data-validate="" maxlength="45"
                                                            class="string optional" size="45"
                                                            type="text"
                                                            name="certificate[record_person_relationship_specify]"
                                                            id="certificate_purpose-specify"/>
                        </div>
                      </div>
                    </div>


                    <div class="form-group select required certificate_record_copies">
                      <div class="tooltip-wrapper-mobile"><label class="select required"
                                                                 for="certificate_record_copies">Number
                        of Certified Copies needed</label><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Indicate how many copies of the certificate you need. A certified copy is a copy of a primary document, that has on it an endorsement or certificate marking that it is a true copy of the primary document. It does not certify that the primary document is genuine. It is only a true copy of the primary document. A certified copy may be required for official government or court purposes and for commercial purposes."></a>
                      </div>
                      <div class="tooltip-wrapper"><select data-validate=""
                                                           class="select required"
                                                           name="certificate[record_copies]"
                                                           id="certificate_record_copies">
                        <option value="">Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select><a class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                  data-original-title="Indicate how many copies of the certificate you need. A certified copy is a copy of a primary document, that has on it an endorsement or certificate marking that it is a true copy of the primary document. It does not certify that the primary document is genuine. It is only a true copy of the primary document. A certified copy may be required for official government or court purposes and for commercial purposes."></a>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

              <section class="section">
                <div class="row">
                  <div class="section__container">
                    <h2 class="h2">6. Contact information</h2>
                    <p class="align-left">Enter your full name as shown on your ID/driver's license,
                      as well as your contact information.</p>

                    <div class="">
                      <div class="form-group string required certificate_contact_first_name col-xs-4">
                        <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                   for="certificate_contact_first_name">First
                          name</label></div>
                        <div class="tooltip-wrapper"><input data-validate=""
                                                            class="string required" type="text"
                                                            name="certificate[contact_first_name]"
                                                            id="certificate_contact_first_name"/>
                        </div>
                      </div>
                      <div class="form-group string optional certificate_contact_middle_name col-xs-4">
                        <div class="tooltip-wrapper-mobile"><label class="string optional"
                                                                   for="certificate_contact_middle_name">Middle
                          name</label></div>
                        <div class="tooltip-wrapper"><input data-validate=""
                                                            class="string optional" type="text"
                                                            name="certificate[contact_middle_name]"
                                                            id="certificate_contact_middle_name"/>
                        </div>
                      </div>
                      <div class="form-group string required certificate_contact_last_name col-xs-4">
                        <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                   for="certificate_contact_last_name">Last
                          name</label><a class="fa fa-question-circle tooltip-trigger"
                                         data-tippy=""
                                         data-original-title="Enter your full name as shown on your ID or driver´s license. Leave middle name empty if unknown."></a>
                        </div>
                        <div class="tooltip-wrapper"><input data-validate=""
                                                            class="string required" type="text"
                                                            name="certificate[contact_last_name]"
                                                            id="certificate_contact_last_name"/><a
                            class="fa fa-question-circle tooltip-trigger" data-tippy=""
                            data-original-title="Enter your full name as shown on your ID or driver´s license. Leave middle name empty if unknown."></a>
                        </div>
                      </div>
                    </div>


                    <div class="form-group tel required certificate_contact_phone">
                      <div class="tooltip-wrapper-mobile"><label class="tel required"
                                                                 for="certificate_contact_phone">Phone
                        number</label><a class="fa fa-question-circle tooltip-trigger"
                                         data-tippy=""
                                         data-original-title="Please enter a valid contact phone number in case an agent needs to reach you regarding your application."></a>
                      </div>
                      <div class="tooltip-wrapper"><input data-validate=""
                                                          class="string tel required phone-format"
                                                          type="tel"
                                                          name="certificate[contact_phone]"
                                                          id="certificate_contact_phone"
                                                          maxlength="14"/><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Please enter a valid contact phone number in case an agent needs to reach you regarding your application."></a>
                      </div>
                    </div>

                    <div class="form-group email required certificate_contact_email">
                      <div class="tooltip-wrapper-mobile"><label class="email required"
                                                                 for="certificate_contact_email">Email
                        address</label><a class="fa fa-question-circle tooltip-trigger"
                                          data-tippy=""
                                          data-original-title="Specify your email address. It is very important that you provide a valid email, as all communication will be done via email, including your application package If the email address is incorrect, you will not be able to finalize your order and birth certificate will not be delivered."></a>
                      </div>
                      <div class="tooltip-wrapper"><input data-validate=""
                                                          class="string email required"
                                                          type="email"
                                                          name="certificate[contact_email]"
                                                          id="certificate_contact_email"/><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Specify your email address. It is very important that you provide a valid email, as all communication will be done via email, including your application package If the email address is incorrect, you will not be able to finalize your order and birth certificate will not be delivered."></a>
                      </div>
                    </div>
                    <div class="form-group email required certificate_contact_email_confirmation">
                      <div class="tooltip-wrapper-mobile"><label class="email required"
                                                                 for="certificate_contact_email_confirmation">Confirm
                        email address</label><a class="fa fa-question-circle tooltip-trigger"
                                                data-tippy=""
                                                data-original-title="Please re-enter your email address."></a>
                      </div>
                      <div class="tooltip-wrapper"><input data-validate=""
                                                          class="string email required"
                                                          type="email"
                                                          name="certificate[contact_email_confirmation]"
                                                          id="certificate_contact_email_confirmation"/><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Please re-enter your email address."></a></div>
                    </div>
                    <a th:href="@{/application-4}"><input type="submit" name="commit" value="CONTINUE APPLICATION"
                                                          id="continue-button"
                                                          class="btn-primary btn--large is-block disable-resubmit"
                                                          data-disable-with="CONTINUE APPLICATION"/></a>
                    <input type="submit" name="commit" value="SAVE APPLICATION"
                           id="save-button"
                           class="btn-primary btn--large is-block disable-resubmit"
                           data-disable-with="SAVE APPLICATION"/>
                  </div>
                </div>
              </section>

                        </fieldset>
                    </form>
                    <div th:replace="fragments/footer :: footer"></div>
                </section>
            </field>
        </div>
    </div>

</body>
</html>