<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <sect class="main-content">
        <form class="main-content__container">
            <field class="row">
                <section class="col-xs-12">
                    <form class="simple_form new_certificate" id="new_certificate" novalidate="novalidate"
                          action="/application-4" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden"
                                                                                              value="✓"/><input
                            type="hidden" name="authenticity_token"
                            value="GBkZnnvogYBnoELufrriChXdsyeZ975veN9Q1hrDy5ov+pkPlLS8VIQiZjTnU/pzR6WYK8uVu/UzabA9pT+vYg=="/>
                        <fieldset>
                            <section class="section align-center"><h1 class="h1"> Birth Certificate Order Form</h1>
                            </section>
                            <section class="section">
                                <div class="row">
                                    <div class="section__container">
                                        <h2 class="h2">7. Address of delivery</h2>
                                        <p class="align-left">Please enter the physical address where you need the
                                            certificate to be delivered.</p>

                                        <div class="form-group string required certificate_delivery_address_1">
                                            <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                                       for="certificate_delivery_address_1">Address
                                                1 (Street number and street name)</label><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Please indicate the the street number and street name where you need the certificate to be delivered."></a>
                                            </div>
                                            <div class="tooltip-wrapper"><input data-validate="" class="string required"
                                                                                type="text"
                                                                                name="certificate[delivery_address_1]"
                                                                                id="certificate_delivery_address_1"/><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Please indicate the the street number and street name where you need the certificate to be delivered."></a>
                                            </div>
                                        </div>
                                        <div class="form-group string optional certificate_delivery_address_2">
                                            <div class="tooltip-wrapper-mobile"><label class="string optional"
                                                                                       for="certificate_delivery_address_2">Address
                                                2 (if applicable: Apt, suite, floor)</label><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Please enter, if applicable, the apartment number, suite number or floor where you need the certificate to be delivered."></a>
                                            </div>
                                            <div class="tooltip-wrapper"><input data-validate="" class="string optional"
                                                                                type="text"
                                                                                name="certificate[delivery_address_2]"
                                                                                id="certificate_delivery_address_2"/><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Please enter, if applicable, the apartment number, suite number or floor where you need the certificate to be delivered."></a>
                                            </div>
                                        </div>
                                        <div class="form-group string required certificate_delivery_city">
                                            <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                                       for="certificate_delivery_city">City</label><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Please indicate the name of the city where you need the certificate to be delivered."></a>
                                            </div>
                                            <div class="tooltip-wrapper"><input data-validate="" class="string required"
                                                                                type="text"
                                                                                name="certificate[delivery_city]"
                                                                                id="certificate_delivery_city"/><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Please indicate the name of the city where you need the certificate to be delivered."></a>
                                            </div>
                                        </div>
                                        <div class="form-group select required certificate_delivery_state">
                                            <div class="tooltip-wrapper-mobile"><label class="select required"
                                                                                       for="certificate_delivery_state">State</label><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Please specify the state to which you need the certificate to be delivered."></a>
                                            </div>
                                            <div class="tooltip-wrapper"><select data-validate=""
                                                                                 class="select required"
                                                                                 name="certificate[delivery_state]"
                                                                                 id="certificate_delivery_state">
                                                <option value="">Please select</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select><a class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                        data-original-title="Please specify the state to which you need the certificate to be delivered."></a>
                                            </div>
                                        </div>
                                        <div class="form-group string required certificate_delivery_zip_code">
                                            <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                                       for="certificate_delivery_zip_code">Zip
                                                code</label><a class="fa fa-question-circle tooltip-trigger"
                                                               data-tippy=""
                                                               data-original-title="Enter the Zip code where you need the birth certificate to be delivered"></a>
                                            </div>
                                            <div class="tooltip-wrapper"><input data-validate="" class="string required"
                                                                                type="text"
                                                                                name="certificate[delivery_zip_code]"
                                                                                id="certificate_delivery_zip_code"/><a
                                                    class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                                    data-original-title="Enter the Zip code where you need the birth certificate to be delivered"></a>
                                            </div>
                                        </div>


                                        <div class="gdpr_check_boxes">
                                            <div class="form-group check_boxes required certificate_terms_and_conditions">
                                                <div class="tooltip-wrapper-mobile"><label
                                                        class="check_boxes required hidden">Terms and conditions</label>
                                                </div>
                                                <div class="tooltip-wrapper"><input type="hidden"
                                                                                    name="certificate[terms_and_conditions][]"
                                                                                    value=""/><input
                                                        class="check_boxes required" type="checkbox" value="true"
                                                        name="certificate[terms_and_conditions][]"
                                                        id="certificate_terms_and_conditions_true"/><label
                                                        class="collection_check_boxes"
                                                        for="certificate_terms_and_conditions_true">I have read and
                                                    understood the Terms and Conditions and Privacy Policy.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" name="commit" value="FINISH APPLICATION"
                                               id="continue-button"
                                               class="btn-primary btn--large is-block disable-resubmit"
                                               data-disable-with="FINISH APPLICATION"/>

                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </form>
                    <!--<div th:replace="fragment/footer :: footer"></div>-->
                </section>
            </field>
        </form>
    </sect>
</body>
</html>