<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/login-form-header :: login-form-header('Application')"/>
<body>
    <section class="nav nav-page">
        <div class="container-fluid">
            <div class="row ">
                <!--<div class="">-->
                <div class="col-7 d-inline">
                    <header class="page-header d-inline">
                        <a th:href="@{/}">
                            <h3>Records Application<br/>
                                <small>Vital Records City of San Antonio</small>
                            </h3>
                        </a>
                    </header>
                </div>
                <div class="col-5 my-auto d-inline p-0">
                    <ul class="float-right d-inline">

                        <li sec:authorize="!isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/login}" th:method="get" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Login
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/logout}" th:method="post" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li class="d-inline px-3 mb-1 float-right">
                            <a th:href="@{/about-us}"><i class="material-icons  "
                                                         style="font-size: 36px; margin-top: 8px;">
                                help_outline
                            </i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
            <div class="page container">
                <div class="cssProgress">
                    <div class="progress1">
                        <div class="cssProgress-bar" data-percent="35" style="width: 35%;">
                            <span style="color:black" class="cssProgress-label">35%</span>
                        </div>
                    </div>
                </div>
                <form th:action="@{/application-2}" th:method="post" th:object="${record}"
                      class="simple_form new_certificate" id="new_certificate2"
                      novalidate="novalidate" accept-charset="UTF-8"><input name="utf8" type="hidden"
                                                                            value="✓"/><input
                        type="hidden" name="authenticity_token"
                        value="GBkZnnvogYBnoELufrriChXdsyeZ975veN9Q1hrDy5ov+pkPlLS8VIQiZjTnU/pzR6WYK8uVu/UzabA9pT+vYg=="/>

                    <div class=" text-center py-4"><h2 class="h2"> Vital Records Application Form</h2></div>
                    <hr/>

                    <section class="section pb-2">
                        <div>
                            <div style="width:100%" class="section__container container">
                                <h4 class="h4">4. Full name of the person on record</h4>
                                <p class="align-left ml-4">Enter the full name of the person on record at the time of
                                    birth. Leave middle name empty if unknown.</p>

                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-md-3 ml-md-3 d-inline p-2 form-group string required certificate_person_first_name">
                                        <div><label class="string required"
                                                                                   for="certificate_person_first_name">First
                                            name</label></div>
                                        <div><input data-validate=""
                                                                            class="string required" type="text"
                                                                            th:field="*{first_name}"
                                                                            id="certificate_person_first_name" required="required" style="height: 2.15em"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-inline p-2 form-group string optional certificate_person_middle_name">
                                        <div><label class="string optional"
                                                                                   for="certificate_person_middle_name">Middle
                                            name</label></div>
                                        <div><input data-validate=""
                                                                            class="string optional" type="text"
                                                                            th:field="*{mid_name}"
                                                                            id="certificate_person_middle_name" style="height: 2.15em"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-inline p-2 form-group string required certificate_person_last_name">
                                        <div><label class="string required"
                                                                                   for="certificate_person_last_name">Last
                                            name</label>
                                        </div>
                                        <div><input data-validate=""
                                                                            class="string required" type="text"
                                                                            th:field="*{last_name}"
                                                                            id="certificate_person_last_name" required="required" style="height: 2.15em;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <hr/>
                    <section class="section pt-2">
                        <div>
                            <div style="width:100%" class="section__container container">
                                <th:block th:if="${app.getRecord_type() =='Birth'}">
                                <h4 class="h4">5. Birth information of the person on record</h4>
                                <p class="align-left ml-4">Enter the birth information of the person needing the
                                    birth certificate. If you are applying for someone else (i.e. your child),
                                    enter their birth information here.</p>


                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-md-3 ml-md-3 d-inline p-2 form-group string required certificate_birth_city">
                                        <div><label class="string required"
                                                                                   for="certificate_birth_city2">City
                                            of birth</label>
                                        </div>
                                        <div><input data-validate="" class="string required"
                                                                            th:field="*{birth_city}"
                                                                            id="certificate_birth_city2" required="required" type="text" style="height: 2.15em"/>
                                        </div>
                                    </div>

                                    <div class="col-md-3 d-inline p-2 form-group string required certificate_birth_county">
                                        <div><label class="string required"
                                                                                   for="certificate_birth_county">County
                                            of birth</label>
                                        </div>
                                        <div><input data-validate="" class="string required"
                                                                            th:field="*{birth_county}"
                                                                            id="certificate_birth_county" required="required" type="text" style="height: 2.15em"/>
                                        </div>
                                    </div>

                                    <div class="col-md-3 d-inline p-2 form-group date required certificate_birth_date">
                                        <div><label class="date required"
                                                                                   for="birth_date">Date
                                            of birth</label>

                                        </div>
                                        <div>
                                            <input
                                                    name="dob_dod"
                                                    type="date"
                                                    id="birth_date"
                                                    class="date-picker-style"
                                                    required="required"
                                                    min="01-01-1901"  style="height: 2.15em"/>
                                        </div>
                                    </div>
                                </div>


                        </th:block>


                                <th:block th:unless="${app.getRecord_type() == 'Birth'}">

                        <h4 class="h4">5. Death information of the person on record</h4>
                        <p class="align-left ml-4">Enter the death information of the person on the record. (Please note that date of death is required.) </p>

                        <div class="row justify-content-center">
                            <div class="col-1"></div>
                            <div class="col-md-3 ml-3 d-inline p-2 form-group string required certificate_death_city">
                                <div><label class="string required"
                                                                           for="certificate_death_city2">City
                                    of death</label>
                                </div>
                                <div><input data-validate="" class="string required"
                                                                    th:field="*{death_city}"
                                                                    id="certificate_death_city2" required="required" type="text" style="height: 2.15em"/>
                                </div>
                            </div>

                            <div class="col-md-3 d-inline p-2 form-group string required certificate_death_county">
                                <div><label class="string required"
                                                                           for="certificate_death_county">County
                                    of Death</label>
                                </div>
                                <div><input data-validate="" class="string required"
                                                                    th:field="*{death_county}"
                                                                    id="certificate_death_county" required="required" style="height: 2.15em" type="text"/>
                                </div>
                            </div>

                            <div class="col-md-3 d-inline p-2 form-group date required certificate_death_date">
                                <div><label class="date required"
                                                                           for="death_date">Date
                                    of death</label>

                                </div>
                                <div>
                                    <input
                                        name="dob_dod"
                                        type="date"
                                        id="death_date"
                                        class="date-picker-style"
                                        required="required"
                                        min="01-01-1901"  style="height: 2.15em"/>
                                </div>
                            </div>
                        </div>
                                </th:block>

                    <!--end of conditional-->
                            </div>
                        </div>

                        <div class="pt-5 row justify-content-center form-group radio_buttons required certificate_person_sex">
                            <div><label
                                    class="radio_buttons required pr-3">Gender</label>
                            </div>
                            <div><input type="hidden"
                                                                name="certificate[person_sex]"
                                                                th:field="*{sex}"
                                                                value=""/><input
                                    class="radio_buttons required mt-0 mr-1" type="radio"
                                    th:field="*{sex}"
                                    th:value="Female"
                                    id="certificate_person_sex_female" required="required"/><label
                                    class="collection_radio_buttons pr-3 d-inline"
                                    for="certificate_person_sex_female">Female</label><input
                                    class="radio_buttons required mt-0 mr-1 pr-3 d-inline" type="radio"
                                    th:field="*{sex}"
                                    th:value="Male"
                                    id="certificate_person_sex_male" required="required"/><label
                                    class="collection_radio_buttons pr-3 d-inline"
                                    for="certificate_person_sex_male">Male</label>
                            </div>
                        </div>

                        <div class="row justify-content-between pt-5">
                            <!--<div class=" d-flex align-content-center flex-wrap">-->
                                <a th:href="@{/application-2}"><input type="submit" name="commit"
                                                                      value="CONTINUE"
                                                                      id="continue-button1"
                                                                      class="p-2 btn-primary btn--large is-block disable-resubmit"
                                                                      style="min-width: 115px;"
                                                                      data-disable-with="CONTINUE APPLICATION"/></a>
                            <!--</div>-->
                            <!--<div class=" d-flex align-content-center flex-wrap">-->

                                <input type="submit" name="commit"
                                       value="SAVE"
                                       id="save-button1"
                                       class="p-2 btn-primary btn--large is-block disable-resubmit"
                                       style="min-width: 115px;"
                                       data-disable-with="SAVE APPLICATION"/>
                            </div>
                        <!--</div>-->
                    </section>
                </form>
        <div th:replace="fragments/admin-footer :: admin-footer"></div>
            </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $("#new_certificate2").validate();
    })
</script>
</html>