<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Application')"/>
<body>
  <div class=" pb-5">
    <div class="container">
      <div class="">
        <div class="col-xs-12">
          <div class="cssProgress pt-4 mx-auto" style="width: 70%">
            <div class="progress1">
              <div class="cssProgress-bar" data-percent="15" style="width: 15%;">
                <span class="cssProgress-label">15%</span>
              </div>
            </div>
          </div>

          <form th:action="@{/application-1}" th:method="post" th:object="${record}"
                class="simple_form new_certificate mx-auto" style="width: 70%" id="new_certificate1"
                novalidate="novalidate" accept-charset="UTF-8"><input name="utf8" type="hidden"
                                                                      value="✓"/><input
              type="hidden" name="authenticity_token"
              value="GBkZnnvogYBnoELufrriChXdsyeZ975veN9Q1hrDy5ov+pkPlLS8VIQiZjTnU/pzR6WYK8uVu/UzabA9pT+vYg=="/>
            <fieldset>
              <div class=" text-center py-4"><h2 class="h2"> Birth Certificate Order Form</h2>
              </div>
              <hr/>
              <div class="section__container "></div>
              <section class="section pb-2">
                <div class="row">
                  <div class="section__container">
                    <h4 class="h4">1. Birth information of the person on record</h4>
                    <p class="align-left">Enter the birth information of the person needing the
                      birth certificate. If you are applying for someone else (i.e. your child),
                      enter their birth information here.</p>
                    <div class="form-group select required certificate_birth_state">
                      <div class="tooltip-wrapper-mobile"><label class="select required"
                                                                 for="certificate_birth_state">State
                        of birth</label><a class="fa fa-question-circle tooltip-trigger"
                                           data-tippy=""
                                           data-original-title="Please specify the state where the birth occurred."></a>
                      </div>
                      <div class="tooltip-wrapper"><select data-validate=""
                                                           data-redirect-on-chanche="{/&quot;TX&quot;:&quot;/birth_certificate/texas_certificates/change_state&quot;,&quot;}"
                                                           class="select required"
                                                           name="certificate[birth_state]"
                                                           id="certificate_birth_state">
                        <option value="TX">Texas</option>

                      </select><a class="fa fa-question-circle tooltip-trigger" data-tippy=""
                                  data-original-title="Please specify the state where the birth occurred."></a>
                      </div>
                    </div>

                    <div class="form-group string required certificate_birth_city">
                      <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                 for="certificate_birth_city">City
                        of birth</label><a class="fa fa-question-circle tooltip-trigger"
                                           data-tippy=""
                                           data-original-title="Please specify the city where the birth occurred."></a>
                      </div>
                      <div class="tooltip-wrapper"><input data-validate="" class="string required"
                                                          type="text"
                                                          th:field="*{birth_city}"
                                                          id="certificate_birth_city"/><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Please specify the city where the birth occurred."></a>
                      </div>
                    </div>

                    <div class="form-group string required certificate_birth_county">
                      <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                 for="certificate_birth_county">County
                        of birth</label><a class="fa fa-question-circle tooltip-trigger"
                                           data-tippy=""
                                           data-original-title="Please specify the county where the birth occurred."></a>
                      </div>
                      <div class="tooltip-wrapper"><input data-validate="" class="string required"
                                                          type="text"
                                                          th:field="*{birth_county}"
                                                          id="certificate_birth_county"/><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Please specify the county where the birth occurred."></a>
                      </div>
                    </div>


                    <div class="form-group date required certificate_birth_date">
                      <div class="tooltip-wrapper-mobile"><label class="date required"
                                                                 for="birth_date">Date
                        of birth- Please enter date format as: MM/DD/YYYY</label>
                        <p><input th:field="*{date_of_birth}" type="text" id="birth_date" class="date-picker-style"/></p>

                        <a class="fa fa-question-circle tooltip-trigger"
                        data-tippy=""
                        data-original-title="Please specify the date of birth."></a>
                        </div>
                    </div>
                  </div>
                </div>
              </section>
              <hr/>
              <section class="section pt-2">
                <div class="row">
                  <div class="section__container">
                    <h4 class="h4">2. Full name of the person on record</h4>
                    <p class="align-left">Enter the full name of the person on record at the time of
                      birth. Leave middle name empty if unknown.</p>

                    <div class="">
                      <div class="form-group string required certificate_person_first_name col-xs-4">
                        <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                   for="certificate_person_first_name">First
                          name</label></div>
                        <div class="tooltip-wrapper"><input data-validate=""
                                                            class="string required" type="text"
                                                            th:field="*{first_name}"
                                                            id="certificate_person_first_name"/>
                        </div>
                      </div>
                      <div class="form-group string optional certificate_person_middle_name col-xs-4">
                        <div class="tooltip-wrapper-mobile"><label class="string optional"
                                                                   for="certificate_person_middle_name">Middle
                          name</label></div>
                        <div class="tooltip-wrapper"><input data-validate=""
                                                            class="string optional" type="text"
                                                            th:field="*{mid_name}"
                                                            id="certificate_person_middle_name"/>
                        </div>
                      </div>
                      <div class="form-group string required certificate_person_last_name col-xs-4">
                        <div class="tooltip-wrapper-mobile"><label class="string required"
                                                                   for="certificate_person_last_name">Last
                          name</label><a class="fa fa-question-circle tooltip-trigger"
                                         data-tippy=""
                                         data-original-title="Enter the full name of the person on record at the time of birth. Leave middle name empty if unknown."></a>
                        </div>
                        <div class="tooltip-wrapper"><input data-validate=""
                                                            class="string required" type="text"
                                                            name="certificate[person_last_name]"
                                                            id="certificate_person_last_name"/><a
                            class="fa fa-question-circle tooltip-trigger" data-tippy=""
                            data-original-title="Enter the full name of the person on record at the time of birth. Leave middle name empty if unknown."></a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group radio_buttons required certificate_person_sex">
                      <div class="tooltip-wrapper-mobile"><label class="radio_buttons required">Gender</label><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Please specify the gender of the person on record at the time of their birth."></a>
                      </div>
                      <div class="tooltip-wrapper"><input type="hidden"
                                                          name="certificate[person_sex]"
                                                          value=""/><input
                          class="radio_buttons required" type="radio" value="Female"
                          name="certificate[person_sex]"
                          id="certificate_person_sex_female"/><label
                          class="collection_radio_buttons"
                          for="certificate_person_sex_female">Female</label><input
                          class="radio_buttons required" type="radio" value="Male"
                          name="certificate[person_sex]"
                          id="certificate_person_sex_male"/><label
                          class="collection_radio_buttons" for="certificate_person_sex_male">Male</label><a
                          class="fa fa-question-circle tooltip-trigger" data-tippy=""
                          data-original-title="Please specify the gender of the person on record at the time of their birth."></a>
                      </div>
                    </div>

                    <div class="row justify-content-between pt-5">
                      <a th:href="@{/application-2}"><input type="submit" name="commit"
                                                            value="CONTINUE APPLICATION"
                                                            id="continue-button1"
                                                            class="btn-primary btn--large is-block disable-resubmit"
                                                            data-disable-with="CONTINUE APPLICATION"/></a>
                      <input type="submit"  th:value="${post.id}" th:name="id"  value="SAVE APPLICATION"
                             id="save-button1"
                             class="btn-primary btn--large is-block disable-resubmit"
                             data-disable-with="SAVE APPLICATION"/>
                    </div>
                  </div>
                </div>
              </section>
              <section class="section">
                <div class="">
                  <form class="section__container">
                  </form>

                  <div th:replace="fragments/footer :: footer"></div>
                </div>
              </section>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>