<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Application')"/>
<body>
  <div class="">
    <div class="container">
      <div class="col-xs-12 paddsection">
        <div class="cssProgress mx-auto" style="width: 70%">
          <div class="progress1">
            <div class="cssProgress-bar" data-percent="55" style="width: 55%;">
              <span class="cssProgress-label">55%</span>
            </div>
          </div>
        </div>

        <form th:action="@{/application-3}" th:method="post" th:object="${record}"
              class="simple_form new_certificate mx-auto" style="width: 70%"
              id="new_certificate2"
              novalidate="novalidate"
              accept-charset="UTF-8"><input name="utf8" type="hidden"
                                            value="✓"/><input
            type="hidden" name="authenticity_token"
            value="GBkZnnvogYBnoELufrriChXdsyeZ975veN9Q1hrDy5ov+pkPlLS8VIQiZjTnU/pzR6WYK8uVu/UzabA9pT+vYg=="/>
          <div class="text-center py-4">
            <h2 class="h2"> Birth Certificate Order Form</h2></div>

          <hr/>

          <section class="section pb-2">
            <div class="row">
              <div class="section__container">
                <h4 class="h4">4. Mother of the person on record</h4>
                <p class="align-left">Enter the full maiden name (before 1st Marriage) of the
                  mother of the person on record.</p>

                <div class="row justify-content-between">
                  <div class="d-inline form-group string required certificate_mother_first_name col-xs-4">
                    <div class="tooltip-wrapper-mobile"><label class="string required"
                                                               for="parent1_first_name">First
                      name</label></div>
                    <div class="tooltip-wrapper"><input data-validate=""
                                                        class="string required" type="text"
                                                        th:field="*{parent1_first_name}"
                                                        id="parent1_first_name"/>
                    </div>
                  </div>
                  <div class="form-group string optional certificate_mother_middle_name col-xs-3">
                    <div class="tooltip-wrapper-mobile"><label class="string optional"
                                                               for="certificate_mother_middle_name">Middle
                      name</label></div>
                    <div class="tooltip-wrapper"><input data-validate=""
                                                        class="string optional" type="text"
                                                        th:field="*{parent1_mid_name}"
                                                        id="certificate_mother_middle_name"/>
                    </div>
                  </div>
                  <div class="form-group string required certificate_mother_maiden_or_last_name col-xs-6">
                    <div class="tooltip-wrapper-mobile"><label class="string required"
                                                               for="certificate_mother_maiden_or_last_name">Last
                      name before any marriage</label><a
                        class="fa fa-question-circle tooltip-trigger" data-tippy=""
                        data-original-title="Enter the full maiden name of the mother of the person on record, at the time of birth."></a>
                    </div>
                    <div class="tooltip-wrapper"><input data-validate=""
                                                        class="string required" type="text"
                                                        th:field="*{parent1_last_name}"
                                                        id="certificate_mother_maiden_or_last_name"/><a
                        class="fa fa-question-circle tooltip-trigger" data-tippy=""
                        data-original-title="Enter the full maiden name of the mother of the person on record, at the time of birth."></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </section>
          <hr/>
          <section class="section pb-2">
            <div class="row">
              <div class="section__container">
                <h4 class="h4">5. Father of the person on record</h4>
                <p class="align-left">Enter the full name of the father of the person on record.
                  Leave empty if the identity of the father is unknown.</p>

                <div class="row justify-content-between">
                  <div class="d-inline form-group string optional certificate_father_first_name col-xs-4">
                    <div class="tooltip-wrapper-mobile"><label class="string optional"
                                                               for="certificate_father_first_name">First
                      name</label></div>
                    <div class="tooltip-wrapper"><input data-validate=""
                                                        class="string optional" type="text"
                                                        th:field="*{parent2_first_name}"
                                                        id="certificate_father_first_name"/>
                    </div>
                  </div>
                  <div class="d-inline form-group string optional certificate_father_middle_name col-xs-4">
                    <div class="tooltip-wrapper-mobile"><label class="string optional"
                                                               for="parent2_middle_name">Middle
                      name</label></div>
                    <div class="tooltip-wrapper"><input data-validate=""
                                                        class="string optional" type="text"
                                                        th:field="*{parent2_mid_name}"
                                                        id="parent2_middle_name"/>
                    </div>
                  </div>
                  <div class="form-group string optional certificate_father_last_name col-xs-4">
                    <div class="tooltip-wrapper-mobile"><label class="string optional"
                                                               for="certificate_father_last_name">Last
                      name</label><a class="fa fa-question-circle tooltip-trigger"
                                     data-tippy=""
                                     data-original-title="Enter the full name of the father of the person on record at the time of birth. Leave empty if the identity of the father is unknown."></a>
                    </div>
                    <div class="tooltip-wrapper"><input data-validate=""
                                                        class="string optional" type="text"
                                                        th:field="*{parent2_last_name}"
                                                        id="certificate_father_last_name"/><a
                        class="fa fa-question-circle tooltip-trigger" data-tippy=""
                        data-original-title="Enter the full name of the father of the person on record at the time of birth. Leave empty if the identity of the father is unknown."></a>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-between pt-5">
                  <div calss="d-flex align-content-center flex-wrap">
                    <a th:href="@{/application-3}"><input type="submit" name="commit"
                                                          value="CONTINUE APPLICATION"
                                                          id="continue-button2"
                                                          class="p-2 btn-primary btn--large is-block disable-resubmit"
                                                          data-disable-with="CONTINUE APPLICATION"/></a>
                  </div>
                  <div class="d-flex align-content-center flex-wrap">
                    <input type="submit" name="commit" value="SAVE APPLICATION"
                           id="save-button2"
                           class="p-2 btn-primary btn--large is-block disable-resubmit"
                           data-disable-with="SAVE APPLICATION"/>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
      <div th:replace="fragments/footer :: footer"></div>
    </div>
  </div>
</body>
</html>