<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/test-header :: test-header('Birth Certificate')"/>
<body>
    <div class=" navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"></div>
        </div>
    </div>
    <div id="body-container">
        <div id="body-content">
            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>Records Application<br/>
                                    <small>Vital Records City of San Antonio</small>
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page container">
                <h2 class="pt-5"> Birth Certificate Info Page</h2>
                <article>San Antonio Office of the City Clerk, Vital Records Agency Information
                    <h4>SAN ANTONIO VITAL RECORDS</h4>
                    <p>The San Antonio Division of Vital Records (San Antonio Vital Records) issues certified copies of San Antonio birth certificates for events which occurred within San Antonio from 1895 to present. San Antonio Vital Records also issues birth certificates for events which occurred anywhere in the state of Texas from 1926 to present.</p>

                    <p><b><em>NOTICE:</em></b> Although we attempt to include accurate and up-to-date information on this site, state and agency information is subject to change without notice. We make no representations or warranties as to the accuracy, completeness or timeliness of the information herein and assumes no liability with respect to such information.</p>

                    <h4>SAN ANTONIO BIRTH CERTIFICATES</h4>
                    <p>San Antonio Vital Records issues only certified copies of San Antonio birth certificates, which are typically acceptable for passport, social security, employment and personal identification purposes.</p>

                    <a href="https://www.sanantonio.gov/Municipal-Archives-Records/Birth-Death-Records" target="_blank">Visit San Antonio Office of the City Clerk, Vital Records site</a></article>

            </div>
            <form th:action="@{/form1}" th:method="GET">
            <button name="RT" value="birth" type="submit" id="birth_cert">Request Birth Certificate</button></form>

            <!--<div class="table-responsive">-->
                <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th class="text-center">#</th>-->
                        <!--<th>Record Type</th>-->
                        <!--<th>Request Date</th>-->
                        <!--<th>Name</th>-->
                        <!--<th>Form-Type</th>-->
                        <!--<th>DOB</th>-->
                        <!--<th>Requestor</th>-->
                        <!--<th>Relationship</th>-->
                        <!--<th class="text-right">Status</th>-->
                        <!--<th class="text-right">Actions</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>Date of Request</td>-->
                        <!--<td>Requestor</td>-->
                        <!--<td>Date of Birth</td>-->
                        <!--<td>Current Status</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        </div>

    </div>
    <div th:replace="fragments/admin-footer :: admin-footer"></div>
</body>
</html>