<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/login-form-header :: login-form-header('Application')"/>
<body>
    <section class="nav nav-page">
        <div class="container-fluid">
            <div class="row ">
                <!--<div class="">-->
                <div class="col-7 d-inline">
                    <header class="page-header d-inline">
                        <a th:href="@{/}">
                            <h3>Records Application<br/>
                                <small>Vital Records City of San Antonio</small>
                            </h3>
                        </a>
                    </header>
                </div>
                <div class="col-5 my-auto d-inline p-0">
                    <ul class="float-right d-inline">

                        <li sec:authorize="!isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/login}" th:method="get" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Login
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/logout}" th:method="post" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li class="d-inline px-3 mb-1 float-right">
                            <a th:href="@{/about-us}"><i class="material-icons  "
                                                         style="font-size: 36px; margin-top: 8px;">
                                help_outline
                            </i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
            <div class="page container">
                <h1 style="font-size: x-large;" class="pt-5"> Birth Certificate Information Page</h1><br />
                <article>San Antonio Office of the City Clerk, Vital Records Agency Information<br /><br />
                    <h4>SAN ANTONIO VITAL RECORDS</h4><br />
                    <p>The San Antonio Division of Vital Records (San Antonio Vital Records) issues certified copies of San Antonio birth certificates for events which occurred within San Antonio from 1895 to present. San Antonio Vital Records also issues birth certificates for events which occurred anywhere in the state of Texas from 1926 to present.</p><br />

                    <p><b><em>NOTICE:</em></b> Although we attempt to include accurate and up-to-date information on this site, state and agency information is subject to change without notice. We make no representations or warranties as to the accuracy, completeness or timeliness of the information herein and assumes no liability with respect to such information.</p><br />

                    <h4>SAN ANTONIO BIRTH CERTIFICATES</h4><br />
                    <p>San Antonio Vital Records issues only certified copies of San Antonio birth certificates, which are typically acceptable for passport, social security, employment and personal identification purposes.</p><br />

                    <a href="https://www.sanantonio.gov/Municipal-Archives-Records/Birth-Death-Records" target="_blank">Visit San Antonio Office of the City Clerk, Vital Records site</a></article>

            </div>
            <div style="text-align: center; margin-top: 1.5em;">
                <form th:action="@{/application-1}" th:method="GET">
                <button class="p-2 btn-primary btn--large is-block disable-resubmit" name="RT" value="Birth" type="submit" id="birth_cert">Request Birth Certificate</button></form>
            </div>

    <div th:replace="fragments/admin-footer :: admin-footer"></div>
</body>
</html>