<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="fragments/test-map-header :: test-map-header('Application')"/>
<body>
    <section class="nav nav-page">
        <div class="container-fluid">
            <div class="row ">
                <!--<div class="">-->
                <div class="col-7 d-inline">
                    <header class="page-header d-inline">
                        <a th:href="@{/}">
                            <h3>Records Application<br/>
                                <small>Vital Records City of San Antonio</small>
                            </h3>
                        </a>
                    </header>
                </div>
                <div class="col-5 my-auto d-inline p-0">
                    <ul class="float-right d-inline">

                        <li sec:authorize="!isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/login}" th:method="get" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Login
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/logout}" th:method="post" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li class="d-inline px-3 mb-1 float-right">
                            <a th:href="@{/about-us}"><i class="material-icons  "
                                                         style="font-size: 36px; margin-top: 8px;">
                                help_outline
                            </i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="page container">
        <div class="alert alert-success fade alert-container">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Email Successfully Sent!
        </div>
        <div class="row pt-5 text-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <i class=" material-icons btn-info" style="font-size: 48px;">email</i>
                    <div class="card-body">
                        <h4 class="card-title">Print Application</h4>
                        <p class="card-text">Print your completed application below and/or select to have a copy
                            sent to you.</p>
                    </div>
                    <div class="card-footer py-4">

                        <!--<form id="form-id">-->
                            <a href="/checkout" class="p-2 btn-primary btn--large is-block disable-resubmit" >Send PDF

                                &raquo;</a>
                        <!--</form>-->

                        <!--<a href="/checkout" class="p-2 btn-primary btn&#45;&#45;large is-block disable-resubmit" id="email">Send PDF-->

                            <!--&raquo;</a>-->
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <i class=" material-icons btn-info" style="font-size: 48px;">print</i>
                    <div class="card-body">
                        <h4 class="card-title">Notarize Application</h4>
                        <p class="card-text">It is required by state law that this document be notarized. Click
                            to search for a Notary Public.</p>
                    </div>
                    <div class="card-footer py-4">
                        <a href="" onclick="zoomToLevel(); return false;"
                           class="p-2 btn-primary btn--large is-block disable-resubmit"> Search &raquo;</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <i class=" material-icons btn-info" style="font-size: 48px;">cloud_upload</i>
                    <div class="card-body">
                        <h4 class="card-title">Upload Docs</h4>
                        <p class="card-text">Upload proof of your supporting documentation to expedite picking
                            up your vital record.</p>
                    </div>
                    <div class="card-footer py-4">
                        <a href="/upload" class="p-2 btn-primary btn--large is-block disable-resubmit">Upload
                            Documents &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-auto pt-5 mt-5">

            <div class="col-md-6">

                <embed th:src="${'/uploads' + file}" width="100%" height="500px" type="application/pdf"/>

            </div>
            <div class="col-md-6">
                <div id="map-canvas">
                </div>
            </div>
        </div>
    <div th:replace="fragments/admin-footer :: admin-footer"></div>
    </div>


    <script th:inline="javascript">



        $('#email').click(function (e) {
            func();
            // e.preventDefault();
        });
        function func(){
            $.ajax({
                type: "POST",
                // url: "/checkout",
                url:'@Url.Action("sendEmail", "ApplicationController")',
                async: true,
                success: function(){$(".alert").delay(1000).addClass("in").toggle(true).fadeOut(4000);},
                error: function(){console.log("alert isn't working")},
            });
        }
        function zoomToLevel() {
            map.setZoom(12);
            $('html, body').animate({
                scrollTop: $('html, body').height()
            }, 'slow');
        }
    </script>

</body>


</html>