<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('payments')"></head>
<body>
    <div class=" container ">
        <header>
            <a class="shop" href="/">Back</a>
            <a class="github" href="/">Exit Application</a>
        </header>
        <div class="col-xs-12 paddsection">
            <div class="cssProgress mx-auto" style="width: 70%;">
                <div class="progress1">
                    <div class="cssProgress-bar" data-percent="100" style="width: 100%;">
                        <span class="cssProgress-label">100%</span>
                    </div>
                </div>
            </div>
            <div class="text-center py-4"><h2 class="h2"> This page will emphasize that the process is NOT complete.
                <br/>
                <br/>
                This page will confirm email address with applicant and send completed form to be notorized.
                <br/>
                <br/>
                Explain steps to log back in to application and upload an image of notorized form and supporting documents to submit completed application.</h2></div>
            <hr/>
            <div>
                <embed src="/pdf/edited_COSA-Mail-Application.pdf" width="100%" height="100%" />

            </div>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>