<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/test-header :: test-header('Application')"/>
<body>
    <div class=" navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"></div>
        </div>
    </div>
    <div id="body-container">
        <div id="body-content">
            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>Records Application<br/>
                                    <small>Vital Records City of San Antonio</small>
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page container">
                <!--<div class="cssProgress mx-auto" style="width: 70%;">-->
                <!--<div class="progress1">-->
                <!--<div class="cssProgress-bar" data-percent="100" style="width: 100%;">-->
                <!--<span class="cssProgress-label">100%</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row pt-5 text-center">
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <i class=" material-icons btn-info" style="font-size: 48px;">email</i>
                            <div class="card-body">
                                <h4 class="card-title">Print Application</h4>
                                <p class="card-text">Your completed application has been emailed to you.</p>
                            </div>
                            <div class="card-footer py-4">
                                <form th:action="@{/checkout}" th:method="POST">
                                    <button id="email" class="btn btn-secondary" type="submit">Resend email &raquo;</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <i class=" material-icons btn-info" style="font-size: 48px;">print</i>
                            <div class="card-body">
                                <h4 class="card-title">Notorize Application</h4>
                                <p class="card-text">It is required by state law that this document be notorized.</p>
                            </div>
                            <div class="card-footer py-4">
                                <a href="#" class="btn btn-secondary"> Search &raquo;</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <i class=" material-icons btn-info" style="font-size: 48px;">cloud_upload</i>
                            <div class="card-body">
                                <h4 class="card-title">Upload Docs</h4>
                                <p class="card-text">Confirm the documents needed to successfully complete your
                                    application.</p>
                            </div>
                            <div class="card-footer py-4">
                                <a href="/upload" class="btn btn-secondary">Upload Documents &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="text-center py-4"><h2 class="h2"> This page will emphasize that the process is NOT complete.-->
                <!--<br/>-->
                <!--<br/>-->
                <!--This page will confirm email address with applicant and send completed form to be notorized.-->
                <!--<br/>-->
                <!--<br/>-->
                <!--Explain steps to log back in to application and upload an image of notorized form and supporting-->
                <!--documents to submit completed application.</h2></div>-->
                <!--<hr/>-->
                <!--<div>-->
                <div class="pt-5">
                    <object
                            data="/pdf/COSA-Mail-Application.pdf"
                            type="application/pdf"
                            width="100%"
                            height="100%">
                        <iframe
                                src="/pdf/COSA-Mail-Application.pdf"
                                width="100%"
                                height="100%"
                                style="border: none;">
                            <p>Your browser does not support PDFs.
                                <a href="/pdf/COSA-Mail-Application.pdf">Download the PDF</a>.</p>
                        </iframe>
                    </object>

                    <!--<iframe src="http://docs.google.com/gview?url=/pdf/COSA-Mail-Application.pdf&amp;embedded=true" style="width:718px; height:700px; text-align:center;" frameborder="0"></iframe>-->
                    <!--<embed th:src="@{/pdf/COSA-Mail-Application.pdf}" width="100%" height="100%"/>-->
                    <!--<embed src="https://drive.google.com/viewerng/-->
<!--viewer?embedded=true&amp;url=pdf/COSA-Mail-Application.pdf" width="500" height="375"/>-->
                    <!--<object width="400" height="500" type="application/pdf" data="/pdf/COSA-Mail-Application.pdf">-->
                        <!--<p>Insert your error message here, if the PDF cannot be displayed.</p>-->
                    <!--</object>-->
                </div>
            </div>
        </div>

    </div>
    <div th:replace="fragments/admin-footer :: admin-footer"></div>
</body>

<script type="text/javascript">
    $('#email').click(function () {
        alert("Email sent!")
    });
</script>
</html>