<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="fragments/test-header :: test-header('Confirmation')"/>
<body>
<div class=" navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="float-right">
            <li sec:authorize="isAuthenticated()" class="d-inline">
                <form th:action="@{/login}" th:method="get" class="d-inline">
                    <button class="p-1 mb-2 rounded  btn-primary btn--large is-block disable-resubmit" style="margin-top: 8px">Login</button>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()" class="d-inline px-3">
                <form th:action="@{/logout}" th:method="post" class="d-inline">
                    <button class="p-1 mb-2 rounded  btn-primary btn--large is-block disable-resubmit" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
        <div class="container"></div>
    </div>
</div>
 <div id="body-container">
        <div id="body-content">
            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>Records Application<br/>
                                    <small>Vital Records City of San Antonio</small>
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page container">


                <h2 class="pt-5"> Confirmation Page</h2>
            </div>
        </div>

    </div>
    <div th:replace="fragments/admin-footer :: admin-footer"></div>
</body>
</html>