<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/test-header :: test-header('Death Certificate')"/>
<body>
    <div class=" navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"></div>
        </div>
    </div>
    <div id="body-container">
        <div id="body-content">
            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>Records Application<br/>
                                    <small>Vital Records City of San Antonio</small>
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page container">
                <h2 class="pt-5"> Death Certificate Info Page</h2>
                <article>San Antonio Office of the City Clerk, Vital Records Agency Information
                    <h4>SAN ANTONIO VITAL RECORDS</h4>
                    <p>The San Antonio Division of Vital Records (San Antonio Vital Records) issues certified copies of San Antonio death certificates for events which occurred in Bexar County from 1873 to the present. </p>

                    <p><b><em>NOTICE:</em></b> Although we attempt to include accurate and up-to-date information on this site, state and agency information is subject to change without notice. We make no representations or warranties as to the accuracy, completeness or timeliness of the information herein and assumes no liability with respect to such information.</p>

                    <h4>SAN ANTONIO DEATH CERTIFICATES</h4>
                    <p>San Antonio Vital Records issues only certified copies of a death record that can typically be used to obtain death benefits, claim insurance proceeds, notify social security and other legal purposes.</p>

                    <a href="https://www.sanantonio.gov/Municipal-Archives-Records/Birth-Death-Records" target="_blank">Visit San Antonio Office of the City Clerk, Vital Records site</a></article>

            </div>
                <form th:action="@{/application-1}" th:method="GET">
                    <button name="RT" value="death" type="submit" id="death_cert">Request Death Certificate</button></form>

        </div>

    </div>
    <div th:replace="fragments/admin-footer :: admin-footer"></div>
</body>
</html>