<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:replace="fragments/login-form-header :: login-form-header('Welcome Home!')"></head>
<body>
    <section class="nav nav-page">
        <div class="container-fluid">
            <div class="row ">
                <!--<div class="">-->
                <div class="col-7 d-inline">
                    <header class="page-header d-inline">
                        <a th:href="@{/}">
                            <h3>Records Application<br/>
                                <small>Vital Records City of San Antonio</small>
                            </h3>
                        </a>
                    </header>
                </div>
                <div class="col-5 my-auto d-inline p-0">
                    <ul class="float-right d-inline">

                        <li sec:authorize="!isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/login}" th:method="get" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Login
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/logout}" th:method="post" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li class="d-inline px-3 mb-1 float-right">
                            <a th:href="@{/about-us}"><i class="material-icons  "
                                                         style="font-size: 36px; margin-top: 8px;">
                                help_outline
                            </i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="signupform mt-0 pt-0">
        <div class="container">
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <h1>San Antonio<br/> <span class="orange mt-0">Vital Records</span></h1>
                        <div class="row justify-content-start">
                            <div class="col d-inline p-0">
                                <div class="row justify-content-start">
                                    <h3 class=" h3  pb-1">Start here </h3>
                                    <div><i class="fas fa-3x fa-hand-point-right p-lg-4" style="color:#E29328;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-inline">
                                <div class="row justify-content-end">
                                    <!--<div class="d-flex  flex-wrap">-->
                                    <a class="p-2  my-3 d-inline btn-primary btn--large is-block disable-resubmit"
                                       style="min-width: 155px;"
                                       href="/bc-info">Birth Certificate</a>
                                    <!--</div>-->
                                    <!--<div class="d-flex  flex-wrap">-->
                                    <a class=" p-2 d-inline btn-primary btn--large is-block disable-resubmit"
                                       style="min-width: 155px;"
                                       href="/dc-info">Death
                                        Certificate</a>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row align-items-center pt-3">-->
                        <!--<div class="col">-->
                        <!--<div class="row">-->
                        <!--<div class="">-->
                        <p class="card-text pt-5"><i class="material-icons pr-2">
                            check_circle
                        </i>Complete your vital records application online!

                        </p>
                        <p class="card-text py-3"><i class="material-icons pr-2">
                            check_circle
                        </i>Pick up your records from the City Clerk's office in record time!
                        </p>
                        <img class="mt-5" src="imgs/home_img.png" alt=""/>
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>


                <!--/SHOW IF USER IS NOT LOGGED IN!-->

                <div class="w3_info">
                    <div sec:authorize="!isAuthenticated()" class="shadow p-4">
                        <!--<div class="w3l_form_info">-->
                        <h2 class="h2">Register to Get Started</h2>
                        <form th:action="@{/}" th:method="post" th:object="${user}">


                            <!--<label>First Name</label>-->
                            <div class="input-group">
                                        <span><i class="material-icons"
                                                 aria-hidden="true">supervised_user_circle</i></span>
                                <input type="" name="first_name" id="first_name" th:field="*{first_name}"
                                       placeholder="Enter First Name"
                                       required=""/>
                            </div>
                            <!--<label>Last Name</label>-->
                            <div class="input-group">
                                        <span><i class="material-icons"
                                                 aria-hidden="true">supervised_user_circle</i></span>
                                <input type="" name="last_name" id="last_name" th:field="*{last_name}"
                                       placeholder="Enter Last name"
                                       required=""/>
                            </div>
                            <!--<label>Username</label>-->
                            <div class="input-group">
                                        <span><i class="material-icons"
                                                 aria-hidden="true">supervised_user_circle</i></span>
                                <input type="" name="username" id="username" th:field="*{username}"
                                       placeholder="Enter Username"
                                       required=""/>
                            </div>
                            <!--<label>Phone Number</label>-->
                            <div class="input-group">
                                <span><i class="material-icons" aria-hidden="true">perm_phone_msg</i></span>
                                <input type="" name="phone_num" id="phone_num" th:field="*{phone_num}"
                                       placeholder="Enter Phone Number"
                                       required=""/>
                            </div>


                            <!--<label>Email Address</label>-->
                            <div class="input-group">
                                <span><i class="material-icons" aria-hidden="true">email</i></span>
                                <input type="email" name="email" id="email" th:field="*{email}"
                                       placeholder="Enter Your Email"
                                       required=""/>
                            </div>
                            <!--<label>Password</label>-->
                            <div class="input-group">
                                <span><i class="material-icons" aria-hidden="true">lock</i></span>
                                <input id="password" name="password" type="password" th:field="*{password}"
                                       placeholder="Enter Password"
                                       required=""/>
                            </div>

                            <p class="account">By clicking register, you agree to our Terms &amp;
                                Conditions!
                            </p>
                            <button class="p-2 btn-primary btn--large is-block disable-resubmit" type="submit">
                                Register
                            </button>
                        </form>
                    </div>


                    <!--/SHOW IF USER IS LOGGED IN!-->


                    <div sec:authorize="isAuthenticated()" class="my-5">
                        <div class="paddsection">
                            <img src="/imgs/did_you_you.png" alt=""/>


                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" style="height:120px;">
                                        <div class="">
                                            <h3 class="h3 lead text-center">The city clerks office
                                                manually
                                                processes 300-350 vital record applications every day!</h3>
                                        </div>
                                    </div>

                                    <div class="carousel-item" style="height:120px;">
                                        <div class="">
                                            <h3 class="h3 lead text-center">SATX Vital Records
                                                expedites
                                                the
                                                process for the citizens of San Antonio.</h3>
                                        </div>
                                    </div>

                                    <div class="carousel-item" style="height:120px;">
                                        <div class="">
                                            <h3 class="h3 lead text-center">By creating a digitized
                                                database
                                                of
                                                records, the clerks office aids in the technological advancements of
                                                the
                                                city.</h3>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="mt-5">
                        <div></div>
                        <h2 class="mt-5"><span
                                class="orange text-center">New Express Service</span></h2>
                        <!--<div class="row justify-content-start">-->
                        <!--<i class="material-icons text-center" style="font-size: 48px;">-->
                        <!--keyboard_arrow_down-->
                        <!--</i>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                        <div class="pt-3">
                            <p class="card-text pt-3">
                                <i class="material-icons pr-2">
                                    check_circle
                                </i>Avoid penalties from an incomplete application</p>
                            <p class="card-text pt-3">
                                <i class="material-icons pr-2">
                                    check_circle
                                </i>Quickly Upload your supporting documents</p>
                            <p class="card-text pt-3 ">
                                <i class="material-icons pr-2">
                                    check_circle
                                </i>Pay using our secure payment system</p>
                            <p class="card-text pt-3">
                                <i class="material-icons pr-2">
                                    check_circle
                                </i>Spend more time with family, not waiting in line</p>
                        </div>
                        <!--</div>-->
                    </div>

                </div>
            </div>


            <!--<div class="row justify-content-center">-->
            <!--</div>-->

            <div class="col-12 py-5 ">
                <hr/>
            </div>
            <div class="col ">
                <div class="row justify-content-center">
                <h3 class="h3 py-3 text-center">We Made A Complex Process A Simple Formality</h3>
                </div>
                <br/>
                <div class="row justify-content-center">
                    <i class="material-icons arrow orange text-center">
                        keyboard_arrow_down
                    </i>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <i class=" material-icons btn-info" style="font-size: 48px;">cloud_upload</i>
                        <div class="card-body">
                            <h4 class="card-title">Pre-screened Documents</h4>
                            <p class="card-text">Upload your notarized forms and supporting
                                documents to
                                expedite your order</p>
                        </div>
                        <div class="card-footer py-4">
                            <a href="/upload" class="p-2 btn-primary btn--large is-block disable-resubmit">Learn
                                More &raquo;</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <i class=" material-icons btn-info" style="font-size: 48px;">payment</i>
                        <div class="card-body">
                            <h4 class="card-title">Pay Online </h4>
                            <p class="card-text">Complete your order by using our secure payment service</p>
                        </div>
                        <div class="card-footer py-4">
                            <a href="/charge" class="p-2 btn-primary btn--large is-block disable-resubmit">
                                Learn
                                More &raquo;</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <i class="material-icons btn-info" style="font-size: 48px;">
                            phone_iphone
                        </i>
                        <div class="card-body">
                            <h4 class="card-title">Text Notifications</h4>
                            <p class="card-text">Receive notifications when your record has been shipped
                                or is
                                ready
                                for
                                pickup</p>
                        </div>
                        <div class="card-footer py-4">
                            <a href="/checkout" class="p-2 btn-primary btn--large is-block disable-resubmit">
                                Learn
                                More &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer th:replace="fragments/admin-footer :: admin-footer"></footer>
</body>
</html>