<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Welcome Home!')"></head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div id="header" class="home">
        <div class="float-right pt-3 pr-3">
            <p>Hello World!</p>

    </div>
    <div>I can't see anything</div>
    <div>where are my divs!</div>
        <div></div>


    <footer th:replace="fragments/footer :: footer"></footer>
        </div>
</body>
</html>