<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/test-header :: test-header('Login')"/>
<body>
    <div class=" navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container"></div>
        </div>
    </div>
    <div id="body-container" class="bdy-img2">
        <div id="body-content">
            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>Records Application<br/>
                                    <small>Vital Records City of San Antonio</small>
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page container mt-5">


                <div class="row justify-content-center">

                    <div th:if="${param.error}">
                        Invalid Username and/or Password
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </div>


                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <form th:action="@{/login}" method="post">
                                <div class="row mt-5 form-bgc">
                                    <div class="row align-items-center">
                                        <div class="mx-2">
                                            <div class="form-group contact-block1 d-inline">
                                                <label for="username">Username</label>
                                                <input id="username" name="username" type="text"/>
                                            </div>
                                        </div>
                                        <div class=" mx-2">
                                            <div class="form-group contact-block1 d-inline">
                                                <label for="password">Password</label>
                                                <input id="password" name="password" type="password"/>
                                            </div>
                                        </div>
                                        <div class="mx-2">
                                            <div class="form-group contact-block1 d-inline">
                                                <input type="submit" class=" btn-sun btn--large is-block"
                                                       value="Log In"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>




                <!--<div class="row justify-content-center">-->
                    <!--<form th:action="@{/login}" method="post">-->
                        <!--<div class="row mt-5 form-bgc">-->
                            <!--<div class="row align-items-center">-->
                                <!--<div class="mx-2">-->
                                    <!--<div class="form-group contact-block1 d-inline">-->
                                        <!--<label for="username">Username</label>-->
                                        <!--<input id="username" name="username" type="text"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class=" mx-2">-->
                                    <!--<div class="form-group contact-block1 d-inline">-->
                                        <!--<label for="password">Password</label>-->
                                        <!--<input id="password" name="password" type="password"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="mx-2">-->
                                    <!--<div class="form-group contact-block1 d-inline">-->
                                        <!--<input type="submit" class=" btn-sun btn&#45;&#45;large is-block"-->
                                               <!--value="Log In"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div th:replace="fragments/admin-footer :: admin-footer"></div>
</body>
</html>