<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/login-form-header :: login-form-header('Login')"/>
<body>
    <section class="nav nav-page">
        <div class="container-fluid">
            <div class="row ">
                <!--<div class="">-->
                <div class="col-7 d-inline">
                    <header class="page-header d-inline">
                        <a th:href="@{/}">
                            <h3>Records Application<br/>
                                <small>Vital Records City of San Antonio</small>
                            </h3>
                        </a>
                    </header>
                </div>
                <div class="col-5 my-auto d-inline p-0">
                    <ul class="float-right d-inline">

                        <li sec:authorize="!isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/login}" th:method="get" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Login
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/logout}" th:method="post" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit"
                                        style="margin-top: 8px">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li class="d-inline px-3 mb-1 float-right">
                            <a th:href="@{/about-us}"><i class="material-icons  "
                                                         style="font-size: 36px; margin-top: 8px;">
                                help_outline
                            </i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="signupform">
        <div class="container">
            <!-- main content -->
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <h1>Manage Your Vital Records Request</h1>
                        <p>The City of San Antonio makes it easier to apply and pay online to save you time when
                            picking up your records.</p>
                        <img src="images/image.jpg" alt=""/>
                    </div>
                </div>
                <div class="w3_info">
                    <h2>Login to your Account</h2>
                    <p class="pb-3">Enter your details to login.</p>
                    <form th:action="@{/login}" method="post">


                        <label>Username</label>
                        <div class="input-group pt-md-2">
                            <span><i class="material-icons" aria-hidden="true">supervised_user_circle</i></span>
                            <input class="pl-md-2" type="" id="username" name="username"
                                   placeholder="Enter Your Username"/>
                        </div>


                        <label>Password</label>
                        <div class="input-group">
                            <span><i class="material-icons" aria-hidden="true">lock</i></span>
                            <input class="pt-md-2" type="password" id="password" name="password" placeholder="Enter Password"
                                   required="required"/>
                        </div>
                        <button class="p-2 btn-primary btn--large is-block disable-resubmit" type="submit">Login
                        </button>
                    </form>
                    <p class="account">By clicking login, you agree to our Terms &amp;
                        Conditions!</p>
                    <p class="account1">Don't have an account? <a href="/">Register here</a></p>
                </div>
            </div>
        </div>
    <div th:replace="fragments/admin-footer :: admin-footer"></div>
    </div>
</body>
</html>

