<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Registration')"/>
<body>
    <h1>Create an account</h1>

    <form th:action="@{/register}" method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />

        <label for="phone_num">Phone Number</label>
        <input id="phone_num" th:field="*{phone_num}" />

        <label for="first_name">First name</label>
        <input id="first_name" th:field="*{first_name}" />

        <label for="last_name">Last Name</label>
        <input id="last_name" th:field="*{last_name}" />

        <input value="Sign me up!" type="submit" />
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>