<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Welcome Home!')"></head>

<body>
    <div class="box">
        <form id="pick-form">
            <div class="field">
                <div class="control">
                    <button class="button" type="button" id="picker">Pick file</button>
                    <input type="hidden" id="fileupload" />
                </div>
                <div class="control" id="nameBox"></div>
                <div class="control" id="urlBox"></div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="button" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>

    <!--<footer th:replace="fragments/footer :: footer"></footer>-->
    <script th:src="@{/lib/jquery.min.js}"></script>
    <script th:src="@{/lib/jquery-migrate.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/loading.js}"></script>
    <script th:src="@{//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js}"></script>

</body>
</html>