<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/test-header :: test-header('Application')"/>
<body>
    <section class="nav nav-page">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-7 d-inline">
                    <header class="page-header d-inline">
                        <a th:href="@{/}">
                            <h3>Records Application<br/>
                                <small>Vital Records City of San Antonio</small>
                            </h3>
                        </a>
                    </header>
                </div>
                <div class="col-5 my-auto d-inline pt-3">
                    <ul class="float-right d-inline">

                        <li sec:authorize="!isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/login}" th:method="get" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit">
                                    Login
                                </button>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="d-inline mb-1">
                            <form th:action="@{/logout}" th:method="post" class="d-inline">
                                <button class="p-2 btn-primary btn--large is-block disable-resubmit">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li class="d-inline px-2 my-auto mb-1 float-right ">
                            <a th:href="@{/about-us}"><img src="imgs/about.png" style="height:45px; width:50px;"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="page container">
        <!--<div class="alert alert-success fade alert-container">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
            <!--Documents Successfully uploaded to SATX Vital Records!-->
        <!--</div>-->
        <div class="row pull-center">
            <div class="col-md-12 mb-4">
                <div class="card text-center">
                    <i class=" material-icons btn-info" style="font-size: 48px;">cloud_upload</i>
                    <div class="card-body text-center">
                        <div>
                            <h3 class="card-text">PROOF OF ELIGIBILITY:<br/><br/></h3>
                            <h4> Each applicant must present a valid form of identification along with their
                                application. If the applicant is unable to present a valid primary form of
                                identification, two secondary forms, or one secondary and two supporting forms
                                are also acceptable.</h4>
                        </div>
                        <br/>
                        <p class="card-text">For more information on what qualifies as supporting documents
                            please refer to the City of San Antonio's guidelines for <span><a
                                    th:href="@{https://www.sanantonio.gov/Municipal-Archives-Records/Birth-Death-Records#13108670-requirements}" style="color:blue">QUALIFIED APPLICANT REQUIREMENTS</a></span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <form id="pick-form" th:action="@{/upload}" th:method="post" th:object="${app}">
            <div class="card-body">

                <h4 class="card-title text-center">Upload Documents</h4>
                <p sec:authorize="!isAuthenticated()" class="card-text text-center">You must be logged in to continue with uploading your
                    documentation</p>

                <div sec:authorize="isAuthenticated()" class="row justify-content-between pt-5">
                    <!--<div class=" d-inline align-content-center flex-wrap">-->
                    <button href="#" class=" d-inline p-2 btn-primary btn--large is-block disable-resubmit"
                            type="button" id="picker">Upload
                        &raquo;
                    </button>
                    <!--</div>-->
                    <input name="urlImg1" type="hidden" id="fileupload"/>
                    <input name="urlImg2" type="hidden" id="fileupload2"/>
                    <div class="control d-inline" id="urlBox"></div>
                    <div>
                        <div class=" d-inline control py-2" id="nameBox"></div>
                        <!--<div class=" d-inline align-content-center flex-wrap">-->
                        <button class="  d-inline p-2 btn-primary btn--large is-block disable-resubmit" type="submit"
                                value="Submit">Submit
                            &raquo;
                        </button>
                    </div>
                </div>
            </div>

            <div sec:authorize="!isAuthenticated()" class="card-footer py-4">
                <div>
                    <div class="control py-2"></div>
                </div>
            </div>

        </form>
    <div th:replace="fragments/upload-footer :: upload-footer"></div>
    </div>
</body>

</html>
